{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier", "jest"],
  "extends": ["prettier", "plugin:jest/recommended"],
  "parserOptions": {
    "sourceType": "module",
    "useJSXTextNode": true,
    "project": "./tsconfig.json"
  }
}
